
#video{
    width: 720px;
    margin: 20px auto;
    background-color: brown;
    padding: 5px;
    border: 2px solid rgb(59, 20, 20);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

}
nav{
    margin: 5px 0;
}
#buttons{
    float: left;
    width: 100px;
    height: 20px;
}