
body{
    background: #3a6186;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89253e, #3a6186);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89253e, #3a6186); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}
header{
    background-color: blueviolet;
}
#cabeceraweb{
    background-color: cyan;
}
#mainnav{
    background-color: cornflowerblue;
    padding-left: 20px;
    padding-top: .1px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}
#lateralbar{
    background-color: chartreuse;
    float: left;
    height: 1800px;
    
}

#mainconter{
    background-color: cadetblue;
    margin-left: 170px;
    margin-right: 10px;
    padding-left: 20px;
    padding-top: 20px;
}

#mainfoot{
    background-color: chocolate;
    clear: both;
    margin-top: 10px;
}
li{
    background-color: crimson;
    display: inline;
}