
body{
    background-color: rgb(149, 192, 248);
}
header{
    background-color: blueviolet;
}
#cabeceraweb{
    background-color: cyan;
}
#mainnav{
    background-color: cornflowerblue;
}
#lateralbar{
    background-color: chartreuse;
}

#mainconter{
    background-color: cadetblue;
}

#mainfoot{
    background-color: chocolate;
}